.sidebar {
  position: absolute;
  width: 320px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  padding: 20px;
  z-index: 1;
  transform: translateX(320px);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

.controlButton {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.controlButton:hover {
  cursor: pointer;
  background-color: #0a58ca;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.openButton {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  top: 0;
  left: -25px;
  cursor: pointer;
}

.arrow {
  border: solid #0d6efd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}