.sidebar {
  position: relative;
  width: 0;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

.container {
  position: relative;
  padding: 20px;
  overflow-y: auto;
}

.open {
  width: 100%;
  max-width: 320px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

.controlButton {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.controlButton:hover {
  cursor: pointer;
  background-color: #0a58ca;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.openButton {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  top: 0;
  right: -25px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.arrow {
  border: solid #0d6efd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}